* {
  border: none;
  border-radius: 0px;
  /*font-family: VictorMono, Iosevka Nerd Font, Noto Sans CJK;*/
  font-family: Iosevka, FontAwesome, Noto Sans CJK;
  font-size: 14px;
  font-style: normal;
  min-height: 0;
}

window#waybar {
  background-color: #2a2e32;
  color: #b59fda;
}

#cpu,
#battery,
#memory,
#disk,
#network,
#pulseaudio,
#custom-clock {
  margin: 5px 10px;
  font-weight: bold;
}

#battery {
  color: #9ece6a;
}

#battery.charging {
  color: #9ece6a;
}

#battery.warning:not(.charging) {
  background-color: #f7768e;
  color: #24283b;
  border-radius: 5px 5px 5px 5px;
}

#pulseaudio.muted {
  color: #928374;
}