* {
  border: none;
  border-radius: 0px;
  /*font-family: VictorMono, Iosevka Nerd Font, Noto Sans CJK;*/
  font-family: Iosevka, FontAwesome, Noto Sans CJK;
  font-size: 14px;
  font-style: normal;
  min-height: 0;
}

window#waybar {
  background-color: #26292e;
  color: @theme_text_color;
  border-bottom: #454b50 1px solid;
}

#cpu,
#battery,
#memory,
#disk,
#network,
#pulseaudio,
#custom-spotify,
#custom-clock {
  margin: 3px 5px;
  padding: 2px 3px;
  font-weight: bold;
  background-color: #9ece6a;
}

#disk {
  margin-right: 10px;
}

#custom-virt-desktop-1 {
  margin: 3px 0px 3px 10px;
  padding: 2px 3px;
  font-weight: bold;
  background-color: #9ece6a;
}

#custom-virt-desktop-2 {
  margin: 3px 5px 3px 0px;
  padding: 2px 3px;
  font-weight: bold;
  background-color: #9ece6a;
}

#custom-virt-desktop-1.active,
#custom-virt-desktop-2.active {
  background-color: @theme_text_color;
  color: #26292e;
}

#battery {
  color: #9ece6a;
}

#battery.charging {
  color: #9ece6a;
}

#battery.warning:not(.charging) {
  background-color: #f7768e;
  color: #24283b;
  border-radius: 5px 5px 5px 5px;
}

#pulseaudio.muted {
  color: #928374;
}