* {
  border: none;
  border-radius: 0px;
  /*font-family: VictorMono, Iosevka Nerd Font, Noto Sans CJK;*/
  font-family: Iosevka, FontAwesome, Noto Sans CJK;
  font-size: 14px;
  font-style: normal;
  min-height: 0;
}

window#waybar {
  background: rgba(30, 30, 46, 0.5);
  border-bottom: 1px solid #282828;
  color: #f4d9e1
}

#cpu,
#battery,
#memory,
#disk,
#network,
#pulseaudio,
#custom-clock {
  background-color: #282828;
  border-radius: 16px;
  margin: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 15px 5px 15px;
  font-weight: bold;
}

#battery {
  color: #9ece6a;
}

#battery.charging {
  color: #9ece6a;
}

#battery.warning:not(.charging) {
  background-color: #f7768e;
  color: #24283b;
  border-radius: 5px 5px 5px 5px;
}

#pulseaudio.muted {
  color: #928374;
}

#window {
  background: #282828;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 16px;
  /*border-left: solid 1px #282738;*/
  /*border-right: solid 1px #282738;*/
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: normal;
  font-style: normal;
}